<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddReaderServlet</servlet-name>
    <servlet-class>com.control.AddReaderServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddBookServlet</servlet-name>
    <servlet-class>com.control.AddBookServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LookreaderServlet</servlet-name>
    <servlet-class>com.control.LookreaderServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeletereaderServlet</servlet-name>
    <servlet-class>com.control.DeletereaderServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>BorrowreadServlet</servlet-name>
    <servlet-class>com.control.BorrowreadServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateStatusServlet</servlet-name>
    <servlet-class>com.control.UpdateStatusServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AllbookServlet</servlet-name>
    <servlet-class>com.control.AllbookServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>OnebookServlet</servlet-name>
    <servlet-class>com.control.OnebookServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateAdPwdServlet</servlet-name>
    <servlet-class>com.control.UpdateAdPwdServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeletebookServlet</servlet-name>
    <servlet-class>com.control.DeletebookServlet</servlet-class>
  </servlet>










  <servlet-mapping>
    <servlet-name>AddReaderServlet</servlet-name>
    <url-pattern>/addReaderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddBookServlet</servlet-name>
    <url-pattern>/addBookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LookreaderServlet</servlet-name>
    <url-pattern>/lookreaderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeletereaderServlet</servlet-name>
    <url-pattern>/deletereaderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BorrowreadServlet</servlet-name>
    <url-pattern>/borrowreadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateStatusServlet</servlet-name>
    <url-pattern>/updateStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AllbookServlet</servlet-name>
    <url-pattern>/allbookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OnebookServlet</servlet-name>
    <url-pattern>/onebookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateAdPwdServlet</servlet-name>
    <url-pattern>/updateAdPwdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeletebookServlet</servlet-name>
    <url-pattern>/deletebookServlet</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
